/*Border-box reset*/
html {
    box-sizing: border-box;   
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Chat styling*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4BFE78;
    font-family: "Roboto", sans-serif;
    
}

.userSettings{
    margin-bottom: 25px;
    margin-top: 25px;
}

.chat {
    max-width: 535px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 15px 15px 10px black;
}

.chat #chatOutput p{
    margin:0;
    padding:5px;
    border-bottom: 3px dotted black;
}

.chat #chatOutput {
    overflow-y: auto;
    scroll-behavior: auto;
    height: 350px;
    width: 100%;
    border: 2px solid black;
    background-color: white;
}

.chat #chatInput {
    width: 75%;
    border: 2px solid black;
    background-color: white;
    height: 100px;

}

.chat #chatSend {
    width: 25%;
    color: white;
    background-color: #4286f4;
    border-color: black;
}


/*Generator*/

#randform{

    padding-top: 10px;
}
